.logo {
  height: 60px;
  border: 1px solid black;
  cursor: pointer;
}

.fill-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
