.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cocktail-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  .cocktail-card {
    width: 200px;
    margin: 10px;
  }
}
