<app-search></app-search>
<div>
  View:
  <button mat-button>Card List</button>
  <button mat-button>Table</button>
</div>
<div class="paginate-container">
  <button mat-button class="previous" (click)="previousPage()">Previous</button>
  <button mat-button class="next" (click)="nextPage()">Next</button>
</div>
<div class="list-container">
  <div class="cocktail-list">
    <ng-container *ngFor="let drink of cocktailList$ | async">
      <mat-card class="cocktail-card">
        <mat-card-header>
          <mat-card-title>{{ drink.strDrink }}</mat-card-title>
          <mat-card-subtitle>{{ drink.strCategory }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          [src]="drink.strDrinkThumb"
          [alt]="drink.strDrink"
        />
        <mat-card-actions>
          <button mat-button class="recipe-button" (click)="viewRecipe(drink)">
            RECIPE
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
<div class="paginate-container">
  <button mat-button class="previous" (click)="previousPage()">Previous</button>
  <button mat-button class="next" (click)="nextPage()">Next</button>
</div>
